<% if @experiments.any? %>
  <div class="row">
    <div class="col-md-4">
      <img src="http://assets.theinnerhour.com/clogo.png" style="margin-top: 10px; width: 150px;">
    </div>
    <div class="col-md-4 text-right">
      <p style="margin:0;padding:0;">Total experiments <h2 style="margin:0;padding:0;"><%= @experiments.length %></h2></p>
    </div>
    <div class="col-md-4 text-right">
      <br>
      <input id="filter" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark" id="get_recommended">Recommended</button>
        <button type="button" class="btn btn-secondary" id="get_retargeted">Retargeted</button>
        <button type="button" class="btn btn-warning" id="get_programmes">Programmes</button>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary" id="get_sleep">Sleep</button>
        <button type="button" class="btn btn-outline-secondary" id="get_stress">Stress</button>
        <button type="button" class="btn btn-outline-secondary" id="get_depression">Depression</button>
        <button type="button" class="btn btn-outline-secondary" id="get_anger">Anger</button>
        <button type="button" class="btn btn-outline-secondary" id="get_worry">Worry</button>
        <button type="button" class="btn btn-outline-secondary" id="get_happiness">Happiness</button>
      </div>
    </div>
  </div>
  <br>
  <% @experiments.each_with_index do |experiment, index| %>
    <% if experiment.goals.empty? %>
      <%= erb :_experiment, :locals => {:goal => nil, :experiment => experiment} %>
    <% else %>
      <div class="row">
        <div class="col-12">
          <p><label>ITEM: <%= index %></label></p>
          <%= erb :_experiment_with_goal_header, :locals => {:experiment => experiment} %>
          <% experiment.goals.each do |g| %>
            <%= erb :_experiment, :locals => {:goal => g, :experiment => experiment} %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-12">
      <p class="intro">No experiments have started yet, you need to define them in your code and introduce them to your users.</p>
    </div>
  </div>
<% end %>
